<%- include('partials/header') %>

<!-- Education-->
 <body style="background-image: url('/assets/img/about/bg-blue.svg'); background-size: cover; background-attachment: fixed;" background-color="bg-blue">
        <section class="page-section" id="education">
            <div class="container">
                <div class="text-center" style="margin-top: 50px;">
                    <h2 class="section-heading text-uppercase">Education</h2>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted fst-italic myshadow" >The foundation of my journey: where curiosity met knowledge. 
                            The institutions that brought out the best in me and helped me center Ignatian principles in everything that I do.</p></div>
                    </div>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/cor jesu logo.svg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016-2020</h4>
                                <h4 class="subheading">Junior High School</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Building character and discovering potential at Cor Jesu College.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/cor jesu logo.svg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020-2022</h4>
                                <h4 class="subheading">Senior High School</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Discovering a passion for technology: where curiosity turned into creativity during senior high school.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/ateneo logo.svg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023-2027</h4>
                                <h4 class="subheading">College</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Turning passion into purpose: diving deeper into coding during college.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Ad Majorem
                                <br />
                                Dei
                                <br />
                                Gloriam!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Skills Section -->
<section class="page-section" id="skills">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Skills</h2>
            <h3 class="section-subheading text-muted myshadow">A showcase of the tools and technologies I use.</h3>
        </div>
        <!-- Using Now Section -->
        <div class="text-center">
            <h4 class="text-uppercase my-4">Using Now</h4>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/c.svg" alt="C++" class="img-fluid">
                <div class="portfolio-caption-heading">C++</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/java.svg" alt="Java" class="img-fluid">
                <div class="portfolio-caption-heading">Java</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/python-4.svg" alt="Python" class="img-fluid">
                <div class="portfolio-caption-heading">Python</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/javascript-2.svg" alt="JavaScript" class="img-fluid">
                <div class="portfolio-caption-heading">JavaScript</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/mysql.svg" alt="MySQL" class="img-fluid">
                <div class="portfolio-caption-heading">MySQL</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/html5.svg" alt="HTML5" class="img-fluid">
                <div class="portfolio-caption-heading">HTML5</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/css svg.svg" alt="CSS3" class="img-fluid">
                <div class="portfolio-caption-heading">CSS3</div>
            </div>
        </div>
        <!-- Learning Section -->
        <div class="text-center">
            <h4 class="text-uppercase my-4">Learning</h4>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/figma.svg" alt="Figma" class="img-fluid">
                <div class="portfolio-caption-heading">Figma</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/bootstrap.svg" alt="Bootstrap" class="img-fluid">
                <div class="portfolio-caption-heading">Bootstrap</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/git.svg" alt="Git" class="img-fluid">
                <div class="portfolio-caption-heading">Git</div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <img src="/assets/img/skills/bash-2.svg" alt="Bash" class="img-fluid">
                <div class="portfolio-caption-heading">Bash</div>
            </div>
        </div>
    </div>
</section>
</body>

<%- include('partials/footer') %>
