<%- include('partials/header') %>

 <!-- Projects Grid-->
   
        <section class="page-section bg-light" id="projects">
            <div class="container">
                <div class="text-center" style="margin-top: 50px;">
                    <h2 class="section-heading text-uppercase">Projects</h2>
                    <h3 class="section-subheading text-muted myshadow">Over the years, I’ve honed my skills and built projects that reflect innovation and passion.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Projects item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="interactive-image2" src="/assets/img/projects/project 2.1.svg" alt="Photo of a 2D game."/>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Chronicles of Wordoria</div>
                                <div class="portfolio-caption-subheading text-muted">A Java 2D Game</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="interactive-image2" src="/assets/img/projects/project 1.1.svg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">KohiiBara</div>
                                <div class="portfolio-caption-subheading text-muted">A Cafe Website UI Created Made in Figma</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="interactive-image2" src="/assets/img/projects/project 3.1.svg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Simple HTML/CSS Projects</div>
                                <div class="portfolio-caption-subheading text-muted">freeCodeCamp Course Projects + University Project</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        
        </section>

<!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <!-- Grid Layout -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details -->
                                    <h2 class="text-uppercase">Chronicles of Wordoria</h2>
                                    <p class="item-intro text-muted">A Java 2D Game</p>
        
                                    <!-- Updated Grid Layout -->
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 2.3.svg" alt="Project 1 Image 1">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 2.1.svg" alt="Project 1 Image 2">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 2.4.svg" alt="Project Image 3">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 2.2.svg" alt="Project Image 4">
                                        </div>
                                    </div>
        
                                    <p>
                                        Chronicles of Wordoria is a fun and interactive part-of-speech game. 
                                        It educates and entertains users through quests focusing on nouns and other parts of speech, 
                                        improving one's knowledge of grammar.
                                    </p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details -->
                                    <h2 class="text-uppercase">KohiiBara</h2>
                                    <p class="item-intro text-muted">A Cafe Website UI Design Made in Figma</p>
                
                                    <!-- Updated Grid Layout -->
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 1.1.svg" alt="Project 2 Image 1">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 1.2.svg" alt="Project 2 Image 2">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 1.3.svg" alt="Project 2 Image 3">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 1.4.svg" alt="Project 2 Image 4">
                                        </div>
                                    </div>
                
                                    <p>
                                        KohiiBara is a cozy, anime-inspired café website UI designed in Figma, 
                                        featuring a warm aesthetic and an interactive prototype that showcases 
                                        an intuitive menu navigation and smooth user flow. 
                                        It blends playful visuals with a clean layout to enhance the online ordering experience.
                                    </p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details -->
                                    <h2 class="text-uppercase">Simple HTML/CSS Projects</h2>
                                    <p class="item-intro text-muted">freeCodeCamp Course Projects + University Project</p>
                
                                    <!-- Updated Grid Layout -->
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 3.1.svg" alt="Project 3 Image 1">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 3.2.svg" alt="Project 3 Image 2">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 3.3.svg" alt="Project 3 Image 3">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <img class="img-fluid" src="/assets/img/projects/project 3.4.svg" alt="Project 3 Image 4">
                                        </div>
                                    </div>
                
                                    <p>
                                        These are a few of my projects from a freeCodeCamp HTML/CSS course that I took. I was just starting
                                        to learn vanilla HTML/CSS and these were my early projects. The last one is a replicate webpage of 
                                        Shopee's Policies webpage as part of our finals project in Web Systems and Technologies 1:
                                        a ten webpage replication from the Shopee website.
                                    </p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


         <!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<%- include('partials/footer') %>